name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: saifyali05
          template: classic
          base: header, activity, community, repositories
          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_contributors: yes
          plugin_achievements: yes
          plugin_trophies: yes
          plugin_calendar: yes
          plugin_calendar_limit: 1
          plugin_habits: yes
          plugin_habits_charts_type: classic
          plugin_code: yes
          plugin_traffic: yes
          plugin_skyline: yes
          plugin_skyline_year: current
          plugin_skyline_frames: 60
          plugin_skyline_quality: 0.5
